<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_start %><br />
    <%= f.date_select :event_start %>
  </div>
  <div class="field">
    <%= f.label :event_end %><br />
    <%= f.date_select :event_end %>
  </div>
  <div class="field">
    <%= f.label :event_address %><br />
    <%= f.text_area :event_address %>
  </div>
  <div class="field">
    <%= f.label :authorized %><br />
    <%= f.check_box :authorized %>
  </div>
  <div class="field">
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
